dist/
node_modules/
docs/.vitepress/dist
docs/.vitepress/cache

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# TypeScript incremental build cache
*.tsbuildinfo

# Debug logs
npm-debug.log*
*.log

# Environment variables
.env
.env.*

# Test coverage
coverage/
